<h1> Add a Venue to <%= @band.band_name() %> </h1>

<form action="/venues" method="post">
  <input id="band_id" name="band_id" type="hidden" value="<%= @band.id() %>">

  <label for="venue_name">Whats the venue?</label>
  <input id="venue_name" name="venue_name" type="text">


  <button type="submit">Add venue</button>
</form>

  <% if @band.venues().any?() %>
    <h3>Here are all of the Venues for this band:</h3>
    <ul>
      <% @band.venues().each() do |venue| %>
      <li><%= venue.venue_name() %><a href="/venues/<%= venue.id() %>/edit">Edit venue</a> </li>
      <% end %>
    </ul>
  <% else %>
      <p> There are no venues yet!</p>
      <% end %>

<p><a href="/bands/<%= @band.id() %>/edit">Edit <%= @band.band_name() %> band</a></p>

<p><a href="/">Return to Main Page</a></p>
